<html>

<head>
  <script>
    function submitFiles(form) {
      subid = (new Date()).getTime();
      var fd = new FormData();
      fd.append("subid", String(subid));
      [].forEach.call(form.filestobeuploaded.files, (file) => {
        fd.append(file.name, file);
        console.log(file.name);
      });
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          window.location.href = `http://?subid=${subid}`
        } else if (this.readyState == 4 && this.status == 400) {
          alert("eroor in input! please check again!!!");
        }
      }
      xhr.open("POST", "/makesubmission");
      xhr.send(fd);
      return false;
    }
  </script>

  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
</head>

<body>
  <div>
    Select the folder with codes:
    <form onsubmit="return submitFiles(this)" action="/success">
      <!--options BS will come here, we can validate regex as well here only-->
      <input type="file" name="filestobeuploaded" webkitdirectory mozdirectory />
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>

</body>

</html>
