<html>

<head>
  <script>
    function changesource(e) {
      if (e==1) document.querySelector("#ifr").src = "/{{name}}/moss/report.html";
      if (e==2) document.querySelector("#ifr").src = "/{{name}}/jplag/index.html";
      if (e==3) document.querySelector("#ifr").src = "/{{name}}/mossw/index.html";
      if (e==4) document.querySelector("#ifr").src = "/{{name}}/jplagw/index.html";
    }
  </script>
  <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
  <script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>
</head>

<body onload="document.getElementsByTagName('button')[0].click()">
  <button onclick="changesource(1)">MOSS Results</button>
  <button onclick="changesource(2)">JPlag Results</button>
  <button onclick="changesource(3)">MOSS Results without preprocessing</button>
  <button onclick="changesource(4)">JPlag Results without preprocessing</button>

  <iframe id="ifr" width="100%" height="100%"></iframe>
</body>

</html>
